<header id="header--site">
  <h1><a href="{{ site.url }}">{{ site.title_formatted }}</a></h1>
  {% assign patreon = site.accounts | where: "type", "patreon" | first %}
  {% if patreon and patreon.visible %}
  <div class="cta"><a href="{{ patreon.baseurl }}{{ patreon.name }}">Support</a></div>
  {% endif %}
  <nav>
    {% assign pages = site.pages | where: "nav_visible", true | sort: "nav_order" %}
    {% for page in pages %}
      <div>
        <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" title="{{ page.nav_description }}">
          {% if page.nav_icon %}
          <img src="{{ site.baseurl }}/assets/icons/icon_{{ page.nav_icon }}.svg" alt="{{ page.title }}" />
          {% endif %}
          <div>{{ page.title }}</div>
        </a>
      </div>
    {% endfor %}
  </nav>
</header>
